<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/index.css">
    <title>CRUD</title>
    
  </head>
  <body>
    {{{navbar}}}
    {{ message }}

  </body>
</html>